@import './variables';
@import './mixins';

.task-list-container {
  padding: 20px;
  background-color: $primary-color;
  color: white;
  border-radius: 5px;

  h2 {
    @include flex-center;
    font-family: $font-stack;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      background-color: $secondary-color;
      margin: 5px 0;
      padding: 10px;
      border-radius: 3px;
    }
  }
}
